<!DOCTYPE html>
<html>
	<head>
	  <link rel= "stylesheet" type= "text/css" href= "/static/styles/styles.css">
	</head>

	<body>
		<form action="new-post" method="POST">
		  <h2>New Post</h2>
		  <div class="field">
		    <label for="title">Title:</label>
		    <input name="title" id="title"/>
		  </div>

		  <div class="field">
		    <label for="author">Author:</label>
		    <input name="author" id="author"/>
		  </div>

		  <div class="field">
		    <label for="body">Post:</label>
		    <textarea name="body" id="body"></textarea>
		  </div>
		  
		  <input type="submit" value="Submit" />
		</form>

		<!-- <a href="/posts">Post List</a> -->

		<h2>Posts:</h2>

		<ul id="post-list">

		</ul>

		<script id="post-template" type="text/post-template">
		  <li>
		    <h3 class="title"></h3>
		    <div class="post-body hidden">
		      <p class="text"></p>
		      <p>Author: <span class="author"></span></p>
		      <p>Post id: <span class="post-id"></span></p>
		      <p>Likes: <span class="likes"></span></p>
		      <button class="like-button">Like</button>
		      <button class="delete-button">Delete</button>
		    </div>
		  </li>
		</script>
		
		<script
		  src="http://code.jquery.com/jquery-3.1.1.js" 
		  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
		  crossorigin="anonymous"></script>
		<script src="/static/scripts/script.js"></script>
	</body>
</html>
